.DS_Store
markdown.db
node_modules/
.next/
out/
.obsidian/
.markdowndb/
tsconfig.tsbuildinfo
.vscode/
.idea/
public/assets/Musica/Accion/Alistar batalla (2).mp3
public/assets/Musica/Accion/Alistar Batalla 2.mp3
public/assets/Musica/Accion/Alistar batalla.mp3
public/assets/Musica/Accion/Batalla1.mp3
public/assets/Musica/Accion/Batalla2.mp3
public/assets/Musica/Accion/Batalla3.mp3
public/assets/Musica/Accion/Batalla4.mp3
public/assets/Musica/Accion/Batalla5.mp3
public/assets/Musica/Accion/Batalla6.mp3
public/assets/Musica/Accion/Haku Instrumental 2.mp3
public/assets/Musica/Accion/Haku Instrumental 3.mp3
public/assets/Musica/Accion/Haku Instrumental 4.mp3
public/assets/Musica/Accion/Haku Instrumental 5.mp3
public/assets/Musica/Accion/Haku Instrumental.mp3
public/assets/Musica/Accion/Malizall batalla (1).mp3
public/assets/Musica/Accion/Malizall batalla (2).mp3
public/assets/Musica/Accion/Malizall batalla (3).mp3
public/assets/Musica/Accion/Orianna batalla (1).mp3
public/assets/Musica/Accion/Orianna batalla (2).mp3
public/assets/Musica/Accion/Orianna batalla (3).mp3
public/assets/Musica/Accion/Orianna batalla.mp3
public/assets/Musica/Accion/PdA Main V2 (accion) (1).mp3
public/assets/Musica/Accion/PdA Main V2 (accion).mp3
public/assets/Musica/Accion/Vengy batalla (1).mp3
public/assets/Musica/Accion/Vengy batalla (4).mp3
public/assets/Musica/Accion/Vengy batalla (5).mp3
public/assets/Musica/Accion/Vengy batalla.mp3
public/assets/Musica/Accion/Vengy Instrumental.mp3
public/assets/Musica/Electronica/PdA Main V2 (electronica).mp3
public/assets/Musica/Electronica/PdA Main V2 (Normal-Tecno).mp3
public/assets/Musica/Electronica/PdA Main V2 (tecno) .mp3
public/assets/Musica/Especiales/Alistar brilla la fe.mp3
public/assets/Musica/Especiales/Ander Canciones al Viento (Bossanova).mp3
public/assets/Musica/Especiales/Ander Canciones al Viento (Salsa).mp3
public/assets/Musica/Especiales/Ander Canciones al Viento.mp3
public/assets/Musica/Especiales/Orianna Murmullo del Bosque (Indie Pop).mp3
public/assets/Musica/Especiales/Orianna Murmullo del Bosque (Pop).mp3
public/assets/Musica/Main/PdA Main V2.mp3
public/assets/Musica/Neutras/Ander, fondo.mp3
public/assets/Musica/Neutras/Haku Instrumental Arpa.mp3
public/assets/Musica/Neutras/Haku Instrumental Intimista (1).mp3
public/assets/Musica/Neutras/Haku Instrumental Intimista.mp3
public/assets/Musica/Neutras/PdA Main V2 (Cover) (1) 3.mp3
public/assets/Musica/Neutras/PdA Main V2 (Neutral) (1).mp3
public/assets/Musica/Neutras/PdA Main V2 (Neutral) (2).mp3
public/assets/Musica/Neutras/PdA Main V2 (Neutral) (3).mp3
public/assets/Musica/Neutras/PdA Main V2 (Neutral).mp3
public/assets/Musica/Neutras/PdA Main V2 (Watedeep).mp3
public/assets/Musica/Neutras/PdA Main V2 (Waterdeep) (1).mp3
public/assets/Musica/Neutras/PdA Main V2 (Waterdeep) (2).mp3
public/assets/Musica/Neutras/PdA Main V2 (Waterdeep) 2.mp3
public/assets/Musica/Neutras/PdA Main V2 (Waterdeep) 3.mp3
public/assets/Musica/Neutras/PdA Main V2 (Waterdeep).mp3
public/assets/Musica/Neutras/Vengy, fondo.mp3
public/assets/Musica/Relax/Ander Inpiracion 2.mp3
public/assets/Musica/Relax/Ander Inpiracion.mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (1).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (2).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (3).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (4).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (5).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (6).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (7).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (8).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (lofi) (1).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz) (lofi).mp3
public/assets/Musica/Relax/PdA Main V2 (Feliz).mp3
public/assets/Musica/Relax/PdA Main V2 (Relax) (LoFi) (Cover) (1).mp3
public/assets/Musica/Relax/PdA Main V2 (Relax) (LoFi) (Cover).mp3
public/assets/Musica/Relax/PdA Main V2 (Relax) (LoFi).mp3
